@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');

/* Paramètres généraux */

*
{
	font-family: 'Work Sans', sans-serif;
}

body
{
	margin: 50px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFUlEQVQYlWNgoAY4fvz4f8oUDAsrAGNqE/nxl+64AAAAAElFTkSuQmCC) repeat;
}

strong
{
	font-weight: 700;
}

.lien
{
	text-decoration: none;
	color: #7451eb;
	border-radius: 4px;
	padding: 1px;
	transition: 0.2s;
}

.lien:hover
{
	background-color: #7451eb;
	color: white;
	transition: 0.2s;
}

/* Barre de navigation */

header
{
	margin: -15px -20px 0;
	background-color: #7451eb;
	position: sticky;
	top: 0;
	padding: 15px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

#nav
{
	display: flex;
	align-items: center;
}

.bouton
{
	padding: 25px;
	margin: 0 5px;
	color: white;
	text-decoration: none;
	transition: 0.2s;
}

.recherche
{
	margin-left: 5px;
	margin-right: 25px;
}

.bouton:hover
{
	background-color: #5633cb;
	border-radius: 5px;
	transition: 0.2s;
}

/* Corp et bas de page */

footer
{
	margin: 0 -50px -50px;
	padding: 50px 0;
	background-color: #7451eb;
	box-shadow: 0 0 10px #7451eb;
	color: white;
	text-align: center;
}

#intitule_page
{
	margin-top: 70px;
	font-size: 1.3em;
}

#message_jour
{
	font-size: 1.1em;
}

.image_produit
{
	border: 1px rgb(199, 199, 199) solid;
	border-radius: 5px;
	margin: 10px;
}

#corp
{
	text-align: center;
}

.large_bouton
{
	display: inline-block;
	padding: 10px;
	margin: 3%;
}

.large_bouton:hover
{
	border: 10px #5633cb solid;
	background-color: #5633cb;
	padding: 0;
	border-radius: 5px;
}

.large_bouton:hover .image_produit
{
	border: 1px white solid;
}

.large_bouton:hover
{
	border: 10px #5633cb solid;
	background-color: #5633cb;
	padding: 0;
	border-radius: 5px;
}

.large_bouton:link, .large_bouton:visited, .large_bouton:active
{
	text-decoration: none;
	color: black;
}

.large_bouton:hover
{
	color: white;
}

.promo
{
	background-color: green;
	border-radius: 5px;
	color: white;
	padding: 0 3px;
}

.ancien_prix
{
	text-decoration: line-through;
}

.large_bouton:hover .promo
{
	background-color: #79ea6e;
	border-radius: 5px;
	color: black;
}

/* Page produit */

#page_produit
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#fiche_produit_commentaires
{
	flex-basis: 80%;
}

#fiche_produit
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 5%;
}

#description
{
	margin-top: 7%;
}

#informations_produit
{
	flex-basis: 50%;
}

#image_produit+
{
	flex-basis: 50%;
}

#commentaires
{
	text-align: left;
	margin-bottom: 5%;
}

.contenu_commentaire
{
	background-color: white;
	padding: 10px;
	border: 1px rgb(199, 199, 199) solid;
	border-radius: 5px;
	margin-bottom: 2%;
}

#achat_produit
{
	display: flex;
	flex-direction: column;
	flex-basis: 16%;
	padding: 2%;
	margin: 20px 0;
	background-color: whitesmoke;
	border-radius: 10px;
	height: 1%;
	position: sticky;
	top: 125px;
}

.bouton_2
{
	background-color: darkgoldenrod;
	padding: 8px;
	border: 2px darkgoldenrod solid;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	border-radius: 5px;
	transition: 0.2s;
	margin: 3% 0;
}

.bouton_3
{
	background-color: orange;
	padding: 8px;
	border: 2px orange solid;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	border-radius: 5px;
	transition: 0.2s;
	margin: 3% 0;
}

.bouton_2:hover, .bouton_3:hover
{
	background-color: white;
	padding: 8px;
	border: 2px black solid;
	color: black;
	transition: 0.2s;
}

/* Panier */

#listing_produits
{
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
}

.produit_panier_suppr
{
	display: flex;
	align-items: center;
}

.produit_panier
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	padding: 10px;
	margin: 4%;
	flex-basis: 98%;
}

.bouton_suppr
{
	flex-basis: 2%;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	background-color: red;
	transition: 0.2s;
}

.bouton_suppr:hover
{
	background-color: black;
	transition: 0.2s;
}

.produit_panier:hover
{
	background-color: #5633cb;
	color: white;
}

.produit_panier:hover .image_produit
{
	border: 1px white solid;
}

#intitule
{
	margin: 0 3%;
	text-align: right;
}

.produit_panier:hover .promo
{
	background-color: #79ea6e;
	border-radius: 5px;
	color: black;
}

#erreur
{
	margin: 10em 0;
	font-size: 1.5em;
	color: grey;
}

/* Formulaire achat */

#formulaire_complet
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 4% 0;
}

#formulaire_1
{
	flex-basis: 50%;
	margin: 1% 0;
}

#formulaire_2
{
	flex-basis: 50%;
	margin: 1% 0;
}

#formulaire_3
{
	flex-basis: 100%;
}

#formulaire_1 div, #formulaire_2 div
{
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	align-items: center;
}

#formulaire_1 div input, #formulaire_2 div input
{
	width: 50%;
}

#formulaire_3 button
{
	height: 5em;
	width: 10em;
	margin: 1% 0;
}

/* Info */

#info
{
	font-size: 1.2em;
	color: rgb(63, 63, 63);
	margin: 5% 0;
}

#made_by
{
	font-size: 1.5em;
	color: rgb(63, 63, 63);
	margin: 5% 0;
}